body {
    padding-top: 35vh;
    padding-right: 35vh;
    text-align: center;
    background-color: rgb(226, 175, 108);
    background-image: url("golvet.jpg");
    background-size: cover;
}

h1 {
    color: rgb(56, 32, 2);
}

button {
    background-color: bisque;
    width: 80px;
    height: 40px;
    font-weight: bold;
}
